:root {
  --color-bg-default: #fff;
  --color-bg-secondary: #f1f1f1;
  --color-text-main: #1e1e1e;
  --color-text-secondary: #1111117a;
  --color-button-primary: #01a7fd;
  --color-text-primary: #f0f3f8;
  --color-red: #f00;
  --color-border: #f1f1f1;
  --color-border-active: #01a7fd;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  color: var(--color-text-main);
  box-sizing: border-box;
}
